<div class="pass-preview">
	<p class="title">
		Name: <%= pass.name %>	|	<%= link_to 'Toggle Redeem', passes_toggleRedeem_path(pass,:id => pass.id) %>
	</p>
	<div class="pull-left dt">
		# of Passes:</br>
        Purchased on:</br>
		Passes Redeemed?:</br>
		Confirmation Number:
	</div>
	<div class="pull-left dd">
 		<%= pass.entries %></br>
		<%= pass.created_at.strftime('%b %d, %Y at %I:%M %p') %></br>
		<%= pass.redeemed %></br>
		<%= link_to pass.confirmation, pass %>
	</div>
</div>
