      <div class="passPoller" data-time="<%= pass.created_at.to_i %>">
        <strong>Name: <%= pass.name %>	|	<%= link_to 'Toggle Redeem', passes_toggleRedeem_path(pass,:id => pass.id), :method=>:post %></strong> </br>
	    <em>Entry Date: <%= pass.pass_set.date.strftime('%b %d, %Y at %I:%M %p') %></em> </br>
		<em>Bar: <%= pass.pass_set.bar.name%></em> </br>
		<em># of Passes: <%= pass.entries %></em> </br>
        <em>Purchased on: <%= pass.created_at.strftime('%b %d, %Y at %I:%M %p') %></em> </br>
		<em>Passes Redeemed?: <%= pass.redeemed %> </em> </br>
		<em>Confirmation Number: <%= link_to pass.confirmation, pass %> </em> </br>
      </div>
	  </br>