<h2>My Passes</h2>

<div class="row">
  <div class="span7">
	<h4 class="index-type">Current</h4>
	<% for pass in @valid_passes %>
	<div class="pass-preview">
	<small>
      <p class="title"><%= pass.pass_set.bar.name %> Pass</p>
			  <div class="pull-left dt">
				Date of Pass:
				</br>
				# of Passes:
				</br>
				Name on Purchase:
				</br>
				Confirmation Number:
			  </div>
			  <div class="pull-left dd">
				<%= pass.pass_set.date.strftime("%m/%d/%Y") %> 
				</br>
				<%= pass.entries%>
				</br>
				<%= pass.name %>
				</br>
				<%= pass.confirmation %>
			  </div>
			  <br>
			  <div class="pull-right dd">
				<%= link_to raw("View Pass <i class=\"icon-circle-arrow-right\"></i>"), pass, :class => "btn title" %>
			  </div>
	</small>
	</div> <!-- end of .section-container -->
	<% end %>
	<%= will_paginate @valid_passes, :previous_label => "Previous", :next_label => "Next" %>
  </div>

  <div class="span3">
	<h4>Past</h4>
	<% for pass in @past_passes %>
	<div class="pass-preview shadow">
    	<div>
      	<address>
	  		<small>
		        Bar Name: <%= pass.pass_set.bar.name %>
				</br>
				Date of Pass: <%= pass.pass_set.date.strftime("%m/%d/%Y") %> 
				</br>
				# of Passes: <%= pass.entries%>
				</br>
				Name on Purchase: <%= pass.name %>
				</br>
				Confirmation Number: <%= link_to pass.confirmation, pass %>
	    	</small>
	  	</address>
  		</div> <!-- end of .content-box -->
	</div> <!-- end of .section-container -->
	<% end %>
	<%= will_paginate @past_passes, :previous_label => "Previous", :next_label => "Next" %>
  </div>
</div>