<h2>My Passes</h2>

<h4>Current Passes</h4>
<% for pass in @valid_passes %>
  <div class="span3">
	<div class="shadow">
    	<div>
      	<address>
	  		<small>
		        Bar Name: <%= pass.pass_set.bar.name %>
				</br>
				Date of Pass: <%= pass.pass_set.date.strftime("%m/%d/%Y") %> 
				</br>
				# of Passes: <%= pass.entries%>
				</br>
				Name on Purchase: <%= pass.name %>
				</br>
				Confirmation Number: <%= link_to pass.confirmation, pass %>
	    	</small>
	  	</address>
  		</div> <!-- end of .content-box -->
	</div> <!-- end of .section-container -->
  </div>
<% end %>
<%= will_paginate @valid_passes, :previous_label => "Previous", :next_label => "Next" %>
</br>
</br>

<h4>Past Passes</h4>
<% for pass in @past_passes %>
  <div class="span3">
	<div class="shadow">
    	<div>
      	<address>
	  		<small>
		        Bar Name: <%= pass.pass_set.bar.name %>
				</br>
				Date of Pass: <%= pass.pass_set.date.strftime("%m/%d/%Y") %> 
				</br>
				# of Passes: <%= pass.entries%>
				</br>
				Name on Purchase: <%= pass.name %>
				</br>
				Confirmation Number: <%= link_to pass.confirmation, pass %>
	    	</small>
	  	</address>
  		</div> <!-- end of .content-box -->
	</div> <!-- end of .section-container -->
  </div>
<% end %>
<%= will_paginate @past_passes, :previous_label => "Previous", :next_label => "Next" %>