<h2>Pass #<%=@pass.confirmation%></h2>
  <% if (!@pass.redeemed) %>
  <div class="span4 shadow" id="purchased-pass">
	<div id="pass-info">
      <p class="lead">
	    <%= @pass.pass_set.bar.name %><br>
	    <br>
		<%= @pass.pass_set.date.strftime("%m/%d/%Y") %>
		<br>
	  </p>
	  <small class="offset1"><%= @pass.entries %></small>
	</div>	
	<div id="pass-name" class="center-text">
	  <p class="lead"><%= @pass.name %></p>
	</div>
  </div>
  <% end %>

<h3>Pass Instructions</h3>
<ol>
	<li>If possible, print out a copy of this page to bring to the LISTD bar or nightclub.</li>
	<li>Have the print out or this page opened up on your mobile device when you arrive at the specified LISTD bar or nightclub.</li>
	<li>Show either the print out or the electronic version of this page and your I.D. to the doorman.</li>
	<li>Gain immediate entry and enjoy your night!</li>
</ol>