<% content_for :title, "Listd - Pass ##{@pass.confirmation}" %>
<h2>Pass #<%=@pass.confirmation%></h2>
  <% if (!@pass.redeemed) %>
  <div class="span4 shadow" id="purchased-pass">
	<div id="pass-info">
      <p class="lead">
	    <%= @pass.pass_set.bar.name %><br>
	    <br>
		<%= @pass.pass_set.date.strftime("%m/%d/%Y") %>
		<br>
	  </p>
	  <small class="offset1"><%= @pass.entries %></small>
	</div>	
	<div id="pass-name" class="center-text">
	  <p class="lead"><%= @pass.name %></p>
	</div>
  </div>
  <% end %>

<p> 
Confirmation Number: <%= @pass.confirmation %>
</br>
Total Cost: <%= number_to_currency(@pass.pass_set.price*@pass.entries) %>
</br>
<% if @pass.purchase.stripe_charge_token != nil %>
	Card Type: <%= @card_type %>   Last Four Digits: <%= @card_four %>
<% end %>
</br>
<%= link_to 'My Passes', '/mypasses' %>
</p>
<h3>Pass Instructions</h3>
<ol>
	<li>If possible, download and print LISTD pass.</li>
	<li>When arriving at the bar or nightclub, have LISTD pass available as a print out or on your mobile device.</li>
	<li>Skip the line and show your LISTD pass and photo ID at the door.</li>
	<li>Gain immediate entry and enjoy your night!</li>
</ol>