<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps JavaScript API v3 Example: Street View Layer</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initialize() {
		var markerBounds = new google.maps.LatLngBounds();
		var barlocation = new google.maps.LatLng(<%= @bars.first.latitude%>,<%=@bars.first.longitude%>);
        var mapOptions = {
          center: barlocation,
          zoom: 5,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
		  mapTypeControl: true,
		  mapTypeControlOptions: {
		        position: google.maps.ControlPosition.TOP_RIGHT
		  },
		  panControl: true,
		  panControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_TOP
		  },
		  streetViewControl: true,
		  streetViewControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_TOP
		  },
		  zoomControl: true,
		  zoomControlOptions: {
		        position: google.maps.ControlPosition.RIGHT_TOP
		  }
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
		<% for bar in @bars %>
			var barlocation = new google.maps.LatLng(<%= bar.latitude %>,<%= bar.longitude %>);	
			var marker = new google.maps.Marker({
		        position: barlocation,
		        map: map,
				title: '<%= @bars.first.name %>'
			});
			markerBounds.extend(new google.maps.LatLng(<%= bar.latitude %>,<%= bar.longitude %>)); 
		<% end %>
		markerBounds.extend(new google.maps.LatLng(<%= bar.latitude + 0.005 %>,<%= bar.longitude + 0.005 %>));
		markerBounds.extend(new google.maps.LatLng(<%= bar.latitude - 0.005 %>,<%= bar.longitude - 0.005 %>));
		map.fitBounds(markerBounds);
		}
    </script>
</head>
<body onload="initialize()">
  <div id="map_canvas" class="map_bg"></div>
</body>
<div id="map_overlay" class="span5">
  <div id="search-query" class="shadow">
	<% if @search.empty? %>
	  Listing all bars
	<% else %>
      Results for <span><%= @search %></span><br>
	  <small>Best Match</small>
	<% end %>
  </div>
  <div id="search-results">
    <%= render 'bars/search_results' %>
  </div>
  </br>
</div>