<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps JavaScript API v3 Example: Street View Layer</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initialize() {
        var barlocation = new google.maps.LatLng(<%= @bar.latitude%>,<%=@bar.longitude%>);
        var mapOptions = {
          center: barlocation,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
		var image = '/assets/marker-blue.png';
		var marker = new google.maps.Marker({
		            position: barlocation,
		            map: map,
					icon: image,
					title: '<%= @bar.name %>'
		        });
		}

    $(document).ready(function(){
        function attachListeners(){
            $(".passSetDate").click(function(e){
                var psdate = $(this).attr("psdate");
                var allPs = getAllPsForDate(psdate);
                return false;
            });
        }

        function getAllPsForDate(psdate){
            var barId = $("#barId").html();
            $.ajax({
                type: "GET",
                url: "/bars/times",
                data: {
                    "barId" : barId,
                    "psdate" : psdate
                },
                dataType : "json",
                success: function(response){
                    populateReservationTimes(response);
                }
            });
        }

        function populateReservationTimes(rTimes){
            $("#reservation-times").html("");
            var barId = $("#barId").html();
            for(var i = 0; i < rTimes.length; i++){
                var rTime = rTimes[i];
                var newTime = $("<a/>",{
                    href : barId + "/pass_sets/" + rTime.id,
                    style : "padding: 8px;"
                });
                newTime.html(rTime.date);
                $("#reservation-times").append(newTime);
            }
        }

        attachListeners();
    });
    </script>
</head>
<% content_for :head do %>
  <meta property="fb:app_id" content="567808586566843" /> 
  <meta property="og:type"   content="listdnow:bar" /> 
  <meta property="og:url"    content="<%= @full_path %>" /> 
  <meta property="og:title"  content="<%=@bar.name %>" /> 
  <meta property="og:image"  content="http://cdn1.iconfinder.com/data/icons/Symbolicons_Drink/502/Drink_BeerPint.png"  /> 
<% end %>
<% content_for :title, "Listd - #{@bar.name}" %>

<div>
<span style = "display:none;" id = "barId"><%=@bar.id%></span>
	<div class="row">
  		<div class="pull-left span7" id="bar-main">
    		<h3> <%= @bar.name %> </h3>
    		<address>
	  			<small style = "line-height:.7em">	<%= @bar.street_address %>, <%= @bar.city%>,  <%=@bar.state%> <%=@bar.zip_code%> </small>
    		</address>
			<div class="row">
      			<body onload="initialize()">
	    			<div id="map_canvas" class="map span6"></div>
      			</body>
			</div>
  		</div>

  		<div class="pull-left span3" id="bar-info">
            <div>
    		<h5>Contact</h5>
    		<small>
				<abbr title="Phone">P: </abbr><%= number_to_phone(@bar.phone_number, :area_code => true) %>
			</small>
    		</br>
			<% if @bar.website_url != "" %>
				<small>
					<%= link_to @bar.website_url, "http://#{@bar.website_url}", :target => "_blank"%></br>
				</small>
			<% end %>
    		<% if @bar.facebook_url != "" %>
				<%= link_to image_tag("fb_icon(bar).png"), @bar.facebook_url %>
			<% end %>
			<% if @bar.twitter_url != "" %>
				<%= link_to image_tag("twitter_icon(bar).png"), @bar.twitter_url %>
			<% end %>
    		</br>
    		<h5>Hours</h5>
			<% if @bar.open_monday %>
	  			<small>Mon: <%= @bar.houropen_monday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_monday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_tuesday %>
	  			<small>Tues: <%= @bar.houropen_tuesday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_tuesday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_wednesday %>
	  			<small>Wed: <%= @bar.houropen_wednesday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_wednesday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_thursday %>
	  			<small>Thurs: <%= @bar.houropen_thursday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_thursday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_friday %>
	  			<small>Fri: <%= @bar.houropen_friday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_friday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_saturday %>
	  			<small>Sat: <%= @bar.houropen_saturday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_saturday.strftime('%l:%M %p') %></small><br>
			<% end %>
			<% if @bar.open_sunday %>
	  			<small>Sun: <%= @bar.houropen_sunday.strftime('%l:%M %p') %> &ndash; <%= @bar.hourclose_sunday.strftime('%l:%M %p') %></small><br>
			<% end %>
            </div>
  		</div>
		
		<% if @pass_sets.empty? && @reservation_sets.empty? %>
			<div class="shadow span11 center-text" id="passes-none">
  				<h2>Sorry, there are no available passes or reservations at this time</h2>
			</div>
		<% end %>
		
  		<% if @pass_sets.empty? == false %>
			<div class="span11" id="passes-avail">
	  			<div class="div-header">
        			<h5>Available Passes</h5>
					<small>A LISTD pass provides immediate entry to <%= @bar.name %>.</small>
	  			</div>
	  			<% @pass_sets.each do |pass_set| %>
					<div class="date-box span1 center-text">
	      				<p class="lead"><%= link_to pass_set.date.strftime("%d"), [@bar, pass_set] %></p>
		  				<div>
							<%= link_to pass_set.date.strftime("%a"), [@bar, pass_set] %>
						</div>
					</div>
	  			<% end %>
			</div>
		<% end %>
		
		<% if @reservation_sets.empty? == false %>
			<div class="span11" id="passes-avail">
	  			<div class="div-header">
        			<h5>Available Reservations</h5>
					<small>A LISTD reservation reserves a table for your party at <%= @bar.name %>.</small>
	  			</div>
	  			<% @reservation_sets.each do |pass_set| %>
					<div class="date-box span1 center-text passSetDate" psdate = "<%=pass_set.date.strftime("%Y-%m-%d")%>">
	      				<p class="lead"><%= link_to pass_set.date.strftime("%d"), [@bar, pass_set] %></p>
		  				<div>
							<%= link_to pass_set.date.strftime("%a"), [@bar, pass_set]%>
						</div>
					</div>
	  			<% end %>
			</div>
            <div class="span11" id="times-avail">
                <div class="div-header">
                    <h5>Available Times</h5>
                    <small>The following times are available for your selected reservation</small>
                </div>
                <div id = "reservation-times"></div>
            </div>
		<% end %>
		
	</div>
</div>

<%if(user_signed_in? && current_user.admin?) %>
	<div>
		
		<%if @pass_sets.empty? %>
			<h5>No Active Pass Sets</h5>
		<% else %>
			<h5>Active Pass Sets</h5>
            <div class = "passSetTable">
				<table cellpadding="10">
                <thead>
  					<tr>
    					<th>Date</th>
    					<th>Released Passes</th>
    					<th>Sold</th>
    					<th>Unsold</th>
    					<th>Price</th>
						<th>Earnings</th>
    					<th></th>
						<th></th>
						<th></th>
						<th></th>
  					</tr>
                </thead>
                <tbody>
					<% @pass_sets.each do |pass_set| %>
  						<tr>
    						<td data-title="Date"><%= pass_set.date.strftime("%B %d, %Y") %></td>
    						<td data-title="Released Passes"><%= pass_set.total_released_passes %></td>
    						<td data-title="Sold"><%= pass_set.sold_passes %></td>
    						<td data-title="Unsold"><%= pass_set.unsold_passes %></td>
    						<td data-title="Revenue"><%= number_to_currency(pass_set.price) %></td>
							<td data-title="Revenue"><%= number_to_currency(pass_set.revenue_total) %></td>

							<%if(user_signed_in? && current_user.admin?) %>
    							<td><%= link_to 'Show Purchased Passes', [@bar.user, @bar, pass_set] %></td>
								<td><%= link_to 'Edit', edit_user_bar_pass_set_path(@bar.user, @bar, pass_set) %></td>
								<td><%= link_to 'Close Out', user_bar_pass_set_close_set_path(@bar.user, @bar, pass_set), :confirm => 'Are you sure?' %></td>
								<td><%= link_to 'Delete', [@bar.user, @bar, pass_set], :confirm => 'Are you sure?', :method => :delete %> </td>
			   				<%elsif (current_user.partner?)%>
			      				<td><%= link_to 'Show Purchased Passes', [@bar, pass_set] %></td>
				   			<%else %>
			    				<td><%= link_to 'Purchase a Pass', [@bar,pass_set] %></td>   
			   				<%end%>
  						</tr>
					<% end %>
                </tbody>
				</table>
        </div>
		<% end %>
		</br>
		<%if @reservation_sets.empty? %>
			<h5>No Active Reservation Sets</h5>
		<% else %>
			<h5>Active Reservation Sets</h5>
                <div class = "passSetTable">
				<table cellpadding="10">
                <thead>
  					<tr>
    					<th>Date</th>
    					<th>Released Reservations</th>
    					<th>Sold</th>
    					<th>Unsold</th>
    					<th>Price Per Person</th>
						<th>Earnings</th>
    					<th></th>
						<th></th>
						<th></th>
						<th></th>
  					</tr>
                </thead>
                <tbody>
					<% @reservation_sets.each do |pass_set| %>
  						<tr class = "reservation_row">
    						<td data-title="Date"><%= pass_set.date.strftime("%B %d, %Y") %></td>
    						<td data-title="Released Passes"><%= pass_set.total_released_passes %></td>
    						<td data-title="Sold"><%= pass_set.sold_passes %></td>
    						<td data-title="Unsold"><%= pass_set.unsold_passes %></td>
    						<td data-title="Revenue"><%= number_to_currency(pass_set.price) %></td>
							<td data-title="Revenue"><%= number_to_currency(pass_set.revenue_total) %></td>

							<%if(user_signed_in? && current_user.admin?) %>
    							<td><%= link_to 'Show Purchased Reservations', [@bar.user, @bar, pass_set] %></td>
								<td><%= link_to 'Edit', edit_user_bar_pass_set_path(@bar.user, @bar, pass_set) %></td>
								<td><%= link_to 'Close Out', user_bar_pass_set_close_set_path(@bar.user, @bar, pass_set), :confirm => 'Are you sure?' %></td>
								<td><%= link_to 'Delete', [@bar.user, @bar, pass_set], :confirm => 'Are you sure?', :method => :delete %> <td>
			   				<%elsif (current_user.partner?)%>
			      				<td><%= link_to 'Show Purchased Reservations', [@bar, pass_set] %></td>
				   			<%else %>
			    				<td><%= link_to 'Purchase a Reservation', [@bar,pass_set] %></td>   
			   				<%end%>
  						</tr>
					<% end %>
                </tbody>
				</table>
        </div>
		<% end %>
		</br>
		<% if @expired_sets.empty? %>
			<h5> No Expired Pass Sets </h5>
		<% else %>
			<h5>Expired Pass Sets</h5>
            <div class = "passSetTable">
			<table cellpadding="10">
            <thead>
  				<tr>
    				<th>Date</th>
    				<th>Released Passes</th>
    				<th>Sold</th>
    				<th>Unsold</th>
    				<th>Price</th>
					<th>Earnings</th>
    				<th></th>
					<th></th>
					<th></th>
					<th></th>
  				</tr>
            </thead>
            <tbody>
				<% @expired_sets.each do |pass_set| %>
  					<tr>
    					<td data-title="Date"><%= pass_set.date %></td>
    					<td data-title="Released Passes"><%= pass_set.total_released_passes %></td>
    					<td data-title="Sold"><%= pass_set.sold_passes %></td>
    					<td data-title="Unsold"><%= pass_set.unsold_passes %></td>
    					<td data-title="Price"><%= pass_set.price %></td>
						<td data-title="Revenue"><%= number_to_currency(pass_set.revenue_total) %></td>

						<%if(user_signed_in? && current_user.admin?) %>
    						<td><%= link_to 'Show Purchased Tickets', [@bar.user, @bar, pass_set] %></td>
							<td><%= link_to 'Close Out', user_bar_pass_set_close_set_path(@bar.user, @bar, pass_set), :confirm => 'Are you sure?' %></td>
							<td><%= link_to 'Delete', [@bar.user, @bar, pass_set],:confirm => 'Are you sure?',:method => :delete %> </td>
			   			<%elsif (current_user.partner?)%>
			       			<td><%= link_to 'Show Purchased Tickets', [@bar, pass_set] %></td>
				   		<%else %>
			    			<td><%= link_to 'Purchase a Ticket', [@bar,pass_set] %></td>   
			   			<%end%>
  					</tr>
				<% end %>
                </tbody>
			</table>
            </div>
		<% end %>
		</br>
		<% if @expired_reservation_sets.empty? %>
			<h5>No Expired Reservation Sets</h5>
		<% else %>
			<h5>Expired Reservation Sets</h5>
            <div class = "passSetTable">
			<table cellpadding="10">
            <thead>
  				<tr>
    				<th>Date</th>
    				<th>Released Reservations</th>
    				<th>Sold</th>
    				<th>Unsold</th>
    				<th>Price Per Person</th>
					<th>Earnings</th>
    				<th></th>
					<th></th>
					<th></th>
					<th></th>
  				</tr>
            </thead>
            <tbody>
				<% @expired_sets.each do |pass_set| %>
  					<tr>
    					<td data-title="Date"><%= pass_set.date %></td>
                <td data-title="Released Passes"><%= pass_set.total_released_passes %></td>
                <td data-title="Sold"><%= pass_set.sold_passes %></td>
    					<td data-title="Unsold"><%= pass_set.unsold_passes %></td>
    					<td data-title="Price"><%= pass_set.price %></td>
						<td data-title="Revenue"><%= number_to_currency(pass_set.revenue_total) %></td>

						<%if(user_signed_in? && current_user.admin?) %>
    						<td><%= link_to 'Show Purchased Tickets', [@bar.user, @bar, pass_set] %></td>
							<td><%= link_to 'Close Out', user_bar_pass_set_close_set_path(@bar.user, @bar, pass_set), :confirm => 'Are you sure?' %></td>
							<td><%= link_to 'Delete', [@bar.user, @bar, pass_set],:confirm => 'Are you sure?',:method => :delete %> </td>
			   			<%elsif (current_user.partner?)%>
			       			<td><%= link_to 'Show Purchased Tickets', [@bar, pass_set] %></td>
				   		<%else %>
			    			<td><%= link_to 'Purchase a Ticket', [@bar,pass_set] %></td>   
			   			<%end%>
  					</tr>
				<% end %>
            </tbody>
			</table>
            </div>
		<% end %>
</div>
</br>
<%= link_to 'New Pass set', new_user_bar_pass_set_path(@user,@bar) %> |
<%= link_to 'Edit Bar Information', edit_user_bar_path(@user,@bar) %> |
<%= link_to 'Delete Bar Location', [@user,@bar], :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', @user %>
<%elsif(user_signed_in? && current_user.partner?) %>
<% if current_user.admin? %>
<%= link_to 'Edit Bar Information', edit_bar_path(@bar) %> |
<% end %>
<%= link_to 'Back', root_path %>
<% end %>

