<%= form_for([@bar.user,@bar,@pass_set]) do |f| %>
  
  <% if @pass_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pass_set.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @pass_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :total_released_passes %><br />
    <%= f.number_field :total_released_passes %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
	<%= f.label :selling_passes %><br/>
	<%= f.check_box :selling_passes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
