<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#single_price').hide();
			$('#double_price').hide();
			$('#triple_price').hide();
			$('#checkbox1').change(function(){
				if(this.checked)
	        		$('#single_price').fadeIn();
			   	else
	        		$('#single_price').hide();
			});
			$('#checkbox2').change(function(){
				if(this.checked)
	        		$('#double_price').fadeIn();
			   	else
	        		$('#double_price').hide();
			});
			$('#checkbox3').change(function(){
				if(this.checked)
	        		$('#triple_price').fadeIn();
			   	else
	        		$('#triple_price').hide();
			});
		});
	</script>
<% end %>

<%= form_for([@bar.user,@bar,@pass_set]) do |f| %>
  
  <% if @pass_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pass_set.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @pass_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="field">
    	<%= f.label :date %><br />
    	<%= f.date_select :date %>
  	</div>
  	<div class="field">
    	<%= f.label :total_released_passes %><br />
    	<%= f.number_field :total_released_passes %>
  	</div>
  	<div class="field">
		<%= f.label :selling_passes %><br/>
		<%= f.check_box :selling_passes %>
  	</div>
	<div class="field">
		<%= f.label :single_price_level %><br/>
		<%= f.check_box :single_price_level, :id => "checkbox1", :checked => "unchecked" %>
  	</div>
	<div class="field">
		<%= f.label :double_price_level %><br/>
		<%= f.check_box :double_price_level, :id => "checkbox2", :checked => "unchecked" %>
  	</div>
	<div class="field">
		<%= f.label :triple_price_level %><br/>
		<%= f.check_box :triple_price_level, :id => "checkbox3", :checked => "unchecked" %>
  	</div>
	<div id = "single_price">
		<div class="field">
	    	<%= f.label :price %><br />
	    	<%= f.text_field :price %>
	  	</div>
	</div>
	<div id = "double_price">
		<div class="field">
	    	<%= f.label :double_price_less_than %><br />
	    	<%= f.number_field :double_price_less_than %>
	  	</div>
		<div class="field">
	    	<%= f.label :double_price_value %><br />
	    	<%= f.text_field :double_price_value %>
	  	</div>
	</div>
	<div id = "triple_price">
		<div class="field">
	    	<%= f.label :triple_price_less_than %><br />
	    	<%= f.number_field :double_price_less_than %>
	  	</div>
		<div class="field">
	    	<%= f.label :triple_price_value %><br />
	    	<%= f.text_field :double_price_value %>
	  	</div>
	</div>
  	<div>
  		<%= f.label :description %>
  		<%= f.text_area :description, :rows => "10", :class => "input-xlarge"  %>
  	</div>
	<div class="field">
		<%= f.label :friend_check %><br/>
		<%= f.check_box :friend_check %>
  	</div>
	<div class="field">
		<%= f.label :reservation_time_periods %><br/>
		<%= f.check_box :reservation_time_periods %>
  	</div>
	<%= f.fields_for :time_periods do |builder| %>
		<div class="field">
			<%= builder.label :ten_am_available %><br/>
			<%= builder.check_box :ten_am_available %>
		</div>
		<div class="field">
    		<%= builder.label :ten_am_tables %><br />
    		<%= builder.number_field :ten_am_tables %>
  		</div>
		<div class="field">
			<%= builder.label :ten_thirty_am_available %><br/>
			<%= builder.check_box :ten_thirty_am_available %>
		</div>
		<div class="field">
    		<%= builder.label :ten_thrity_am_tables %><br />
    		<%= builder.number_field :ten_thirty_am_tables %>
  		</div>
		<div class="field">
			<%= builder.label :eleven_am_available %><br/>
			<%= builder.check_box :eleven_am_available %>
		</div>
		<div class="field">
    		<%= builder.label :eleven_am_tables %><br />
    		<%= builder.number_field :eleven_am_tables %>
  		</div>
		<div class="field">
			<%= builder.label :eleven_thirty_am_available %><br/>
			<%= builder.check_box :eleven_thirty_am_available %>
		</div>
		<div class="field">
    		<%= builder.label :eleven_thrity_am_tables %><br />
    		<%= builder.number_field :eleven_thirty_am_tables %>
  		</div>
		<div class="field">
			<%= builder.label :twelve_pm_available %><br/>
			<%= builder.check_box :twelve_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :twelve_pm_tables %><br />
    		<%= builder.number_field :twelve_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :twelve_thirty_pm_available %><br/>
			<%= builder.check_box :twelve_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :twelve_thrity_pm_tables %><br />
    		<%= builder.number_field :twelve_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :one_pm_available %><br/>
			<%= builder.check_box :one_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :one_pm_tables %><br />
    		<%= builder.number_field :one_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :one_thirty_pm_available %><br/>
			<%= builder.check_box :one_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :one_thrity_pm_tables %><br />
    		<%= builder.number_field :one_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :two_pm_available %><br/>
			<%= builder.check_box :two_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :two_pm_tables %><br />
    		<%= builder.number_field :two_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :two_thirty_pm_available %><br/>
			<%= builder.check_box :two_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :two_thrity_pm_tables %><br />
    		<%= builder.number_field :two_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :three_pm_available %><br/>
			<%= builder.check_box :three_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :three_pm_tables %><br />
    		<%= builder.number_field :three_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :three_thirty_pm_available %><br/>
			<%= builder.check_box :three_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :three_thrity_pm_tables %><br />
    		<%= builder.number_field :three_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :four_pm_available %><br/>
			<%= builder.check_box :four_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :four_pm_tables %><br />
    		<%= builder.number_field :four_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :four_thirty_pm_available %><br/>
			<%= builder.check_box :four_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :four_thrity_pm_tables %><br />
    		<%= builder.number_field :four_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :five_pm_available %><br/>
			<%= builder.check_box :five_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :five_pm_tables %><br />
    		<%= builder.number_field :five_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :five_thirty_pm_available %><br/>
			<%= builder.check_box :five_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :five_thrity_pm_tables %><br />
    		<%= builder.number_field :five_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :six_pm_available %><br/>
			<%= builder.check_box :six_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :six_pm_tables %><br />
    		<%= builder.number_field :six_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :six_thirty_pm_available %><br/>
			<%= builder.check_box :six_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :six_thrity_pm_tables %><br />
    		<%= builder.number_field :six_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :seven_pm_available %><br/>
			<%= builder.check_box :seven_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :seven_pm_tables %><br />
    		<%= builder.number_field :seven_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :seven_thirty_pm_available %><br/>
			<%= builder.check_box :seven_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :seven_thirty_pm_tables %><br />
    		<%= builder.number_field :seven_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :eight_pm_available %><br/>
			<%= builder.check_box :eight_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :eight_pm_tables %><br />
    		<%= builder.number_field :eight_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :eight_thirty_pm_available %><br/>
			<%= builder.check_box :eight_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :eight_thrity_pm_tables %><br />
    		<%= builder.number_field :eight_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :nine_pm_available %><br/>
			<%= builder.check_box :nine_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :nine_pm_tables %><br />
    		<%= builder.number_field :nine_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :nine_thirty_pm_available %><br/>
			<%= builder.check_box :nine_thirty_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :nine_thrity_pm_tables %><br />
    		<%= builder.number_field :nine_thirty_pm_tables %>
  		</div>
		<div class="field">
			<%= builder.label :ten_pm_available %><br/>
			<%= builder.check_box :ten_pm_available %>
		</div>
		<div class="field">
    		<%= builder.label :ten_pm_tables %><br />
    		<%= builder.number_field :ten_pm_tables %>
  		</div>
	<% end %>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
