<% content_for :head do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#single_price').hide();
			$('#double_price').hide();
			$('#triple_price').hide();
			
			function singlePriceCheck(){
	            $('#checkbox1').click(function() {
					if($(this).is(":checked")) {
						$('#single_price').fadeIn();
						if($('#checkbox2').is(":checked")) {
							$("#checkbox2").removeAttr("checked");
							if($('#double_price').is(":visible")) {
								$('#double_price').hide();
							}
						}
						if($('#checkbox3').is(":checked")) {
							$("#checkbox3").removeAttr("checked");
							if($('#triple_price').is(":visible")) {
								$('#double_price').hide();
								$('#triple_price').hide();
							}
						}
					}
				   	else {
		        		$('#single_price').hide();
					}
				})
	        };
	
			function doublePriceCheck(){
				$('#checkbox2').click(function() {
					if($(this).is(":checked")) {
		        		$('#double_price').fadeIn();
						if($('#checkbox1').is(":checked")) {
							$("#checkbox1").removeAttr("checked");
							if($('#single_price').is(":visible")) {
							}
							else {
								$('#single_price').fadeIn();
							}
						}
						else {
							$('#single_price').fadeIn();
						}
						if($('#checkbox3').is(":checked")) {
							$("#checkbox3").removeAttr("checked");
							if($('#triple_price').is(":visible")) {
								$('#triple_price').hide();
							}
						}
					}
				   	else {
						$('#single_price').hide();
		        		$('#double_price').hide();
					}
				})
			};
			
			function triplePriceCheck(){
				$('#checkbox3').click(function(){
					if($(this).is(":checked")) {
		        		$('#triple_price').fadeIn();
						if($('#checkbox1').is(":checked")) {
							$("#checkbox1").removeAttr("checked");
							if($('#single_price').is(":visible")) {
							}
							else {
								$('#single_price').fadeIn();
								$('#double_price').fadeIn();
							}
						}
						else {
							$('#single_price').fadeIn();
							$('#double_price').fadeIn();
						}
						if($('#checkbox2').is(":checked")) {
							$("#checkbox2").removeAttr("checked");
							if($('#double_price').is(":visible")) {
							}
							else {
								$('#single_price').fadeIn();
								$('#double_price').fadeIn();
							}
						}
						else {
							$('#single_price').fadeIn();
							$('#double_price').fadeIn();
						}
					}
				   	else {
						$('#single_price').hide();
		        		$('#double_price').hide();
		        		$('#triple_price').hide();
					}
				})
			};
			
			singlePriceCheck();
			doublePriceCheck();
			triplePriceCheck();
		});
	</script>
<% end %>


<h1>New Pass Set</h1>

<%= form_for([@bar.user,@bar,@pass_set]) do |f| %>
   <% if @pass_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pass_set.errors.count, "error") %> prohibited this pass set from being saved:</h2>

      <ul>
      <% @pass_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<div class="field">
    	<%= f.label :date %><br />
    	<%= f.date_select :date %>
  	</div>
  	<div class="field">
    	<%= f.label :total_released_passes %><br />
    	<%= f.number_field :total_released_passes %>
  	</div>
	<div class="field">
		<%= f.label :single_price_level %><br/>
		<%= f.check_box :single_price_level, :id => "checkbox1", :checked => "unchecked" %>
  	</div>
	<div class="field">
		<%= f.label :double_price_level %><br/>
		<%= f.check_box :double_price_level, :id => "checkbox2", :checked => "unchecked" %>
  	</div>
	<div class="field">
		<%= f.label :triple_price_level %><br/>
		<%= f.check_box :triple_price_level, :id => "checkbox3", :checked => "unchecked" %>
  	</div>
	<div id = "single_price">
		<div class="field">
	    	<%= f.label :price %><br />
	    	<%= f.text_field :price %>
	  	</div>
	</div>
	<div id = "double_price">
		<div class="field">
	    	<%= f.label :double_price_less_than %><br />
	    	<%= f.number_field :double_price_less_than %>
	  	</div>
		<div class="field">
	    	<%= f.label :double_price_value %><br />
	    	<%= f.text_field :double_price_value %>
	  	</div>
	</div>
	<div id = "triple_price">
		<div class="field">
	    	<%= f.label :triple_price_less_than %><br />
	    	<%= f.number_field :triple_price_less_than %>
	  	</div>
		<div class="field">
	    	<%= f.label :triple_price_value %><br />
	    	<%= f.text_field :triple_price_value %>
	  	</div>
	</div>
  	<div>
  		<%= f.label :description %>
  		<%= f.text_area :description, :rows => "10", :class => "input-xlarge"  %>
  	</div>
	<div class="field">
		<%= f.label :friend_check %><br/>
		<%= f.check_box :friend_check %>
  	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', user_bar_path(@bar.user,@bar) %>
