<div class="row">
<div class="span8">
<div class="section-container">
  <% if(@localvenues.empty?) %>
	<div class="title-bar">
	  <h5> Available Locations</h5>
	</div> <!-- end of .title-bar -->
	  <% for location in @venues %>
	    <div class="content-box">
		  <div class="vertical-line">
		    <h6><%= link_to location.name, location %></h6>
		    <address>
			  <small> 
			    <%= location.address %> <br>
		          <abbr title="Phone">P:</abbr> <%= location.phone_number %> <br>
				    Distance: <%= location.distance_to(@user_information[0].coordinates).round%> miles
			  </small>
		    </address>
		  </div> <!-- end of .vertical-line -->
	 	</div> <!-- end of .content-box -->
	  <% end %>

  <% else %>
    <div class="title-bar">
	  <h5>Bars Near <%=@user_information[0].city%>, <%=@user_information[0].state%> </h5>
	</div>
	<% for location in @localvenues %>
	  <div class="content-box">
		<div class="vertical-line">
		  <h6><%= link_to location.name, location %></h6>
		  <address>
		  <small> 
		    <%= location.address %> <br>
		      <abbr title="Phone">P:</abbr> <%= location.phone_number %> <br>
				Distance: <%= location.distance_to(@user_information[0].coordinates).round%> miles
		  </small>
		  </address>
		</div> <!-- end of .vertical-line -->
	  </div> <!-- end of .content-box -->
	<% end %>
  <%end%> 
</div> <!-- end of .section-container -->

<div class="section-container">
  <%= render "/passes/pass_widget"%>
</div> <!-- end of .section-container -->
</div> <!-- end of .span8 -->

<div class="span4 fb-box">
  <%= render "/pages/fbactivity" %>
</div>

</div> <!-- end of .row -->
