<div class="row">
<div class="span8">
<div class="section-container">
  <% if(@localvenues.empty?) %>
	<div class="title-bar">
	  <h5> Available Locations</h5>
	</div> <!-- end of .title-bar -->
	  <% for location in @venues %>
	    <div class="content-box">
		  <div class="vertical-line">
		    <h6><%= link_to location.name, location %></h6>
		    <address>
			  <small> 
			    <%= location.address %> <br>
		        <abbr title="Phone">P:</abbr> <%= number_to_phone(location.phone_number, :area_code => true) %></br>
				<% if location.website_url != ""%>
			 	  <%= link_to location.website_url, "http://#{bar.website_url}"%></br>
				<% end %>
				<% if location.facebook_url != "" %>
				  <%= link_to image_tag("fb_icon(bar).png"), location.facebook_url %>
			  	<% end %>
				<% if location.twitter_url != "" %>
				  <%= link_to image_tag("twitter_icon(bar).png"), location.twitter_url %>
				<% end %>
			  </small>
		    </address>
		  </div> <!-- end of .vertical-line -->
	 	</div> <!-- end of .content-box -->
	  <% end %>

  <% else %>
    <div class="title-bar">
	  <h5>Bars Near You </h5>
	</div>
	<% for location in @localvenues %>
	  <div class="content-box">
		<div class="vertical-line">
		  <h6><%= link_to location.name, location %></h6>
		  <address>
		  <small> 
		    <%= location.address %> <br>
		    <abbr title="Phone">P:</abbr> <%= location.phone_number %> <br>
		  </small>
		  </address>
		</div> <!-- end of .vertical-line -->
	  </div> <!-- end of .content-box -->
	<% end %>
  <%end%> 
</div> <!-- end of .section-container -->

<div class="section-container">
  <%= render "/passes/pass_widget"%>
</div> <!-- end of .section-container -->
</div> <!-- end of .span8 -->

<div class="span4 fb-box">
  <%= render "/pages/fbactivity" %>
</div>

</div> <!-- end of .row -->