<div class="row">
<div class="span8">
<div class="section-container">
  <% if(@localvenues.empty?) %>
	<div class="title-bar">
	  <h5> Available Locations</h5>
	</div> <!-- end of .title-bar -->
	  <% for location in @venues %>
	    <div class="content-box">
		  <div class="vertical-line">
		    <h6><%= link_to location.name, location %></h6>
		    <address>
			  <small> 
			    <%= location.full_address %>
				<br>
		        <abbr title="Phone">P: </abbr><%= number_to_phone(location.phone_number, :area_code => true) %>
				</br>
				<% if location.website_url != ""%>
			 	  <%= link_to location.website_url, "http://#{location.website_url}", :target => "_blank"%></br>
				<% end %>
				<% if location.facebook_url != "" %>
				  <%= link_to image_tag("fb_icon(bar).png"), location.facebook_url, :target => "_blank" %>
			  	<% end %>
				<% if location.twitter_url != "" %>
				  <%= link_to image_tag("twitter_icon(bar).png"), location.twitter_url, :target => "_blank" %>
				<% end %>
			  </small>
		    </address>
		  </div> <!-- end of .vertical-line -->
	 	</div> <!-- end of .content-box -->
	  <% end %>

  <% else %>
    <div class="title-bar">
	  <h5> Available Locations</h5>
	</div>
	<% for location in @localvenues %>
	  <div class="content-box">
		<div class="vertical-line">
		  <h6><%= link_to location.name, location %></h6>
		  <address>
		  	<small> 
			    <%= location.full_address %>
				<br>
		        <abbr title="Phone">P: </abbr><%= number_to_phone(location.phone_number, :area_code => true) %>
				</br>
				<% if location.website_url != ""%>
			 	  <%= link_to location.website_url, "http://#{location.website_url}", :target => "_blank"%></br>
				<% end %>
				<% if location.facebook_url != "" %>
				  <%= link_to image_tag("fb_icon(bar).png"), location.facebook_url, :target => "_blank" %>
			  	<% end %>
				<% if location.twitter_url != "" %>
				  <%= link_to image_tag("twitter_icon(bar).png"), location.twitter_url, :target => "_blank" %>
				<% end %>
			  </small>
		  </address>
		</div> <!-- end of .vertical-line -->
	  </div> <!-- end of .content-box -->
	<% end %>
  <% end %> 
</div> <!-- end of .section-container -->

<% if user_signed_in? == false %>
	<div class="title-bar">
	  	<h5>Your Passes and Reservations</h5>
	</div>
	<div class="content-box">
		<div class="vertical-line">
    		<%= link_to 'Create an account', new_user_registration_path %>, so that you can reap all of LISTD's benefits.
    	</div> <!-- end of .vertical-line -->
  	</div>
<% else %>
	<div class="section-container">
  		<%= render "/passes/pass_widget"%>
	</div> <!-- end of .section-container -->


	<div class="section-container">
  		<%= render "/tickets/ticket_widget"%>
	</div> <!-- end of .section-container -->
	
	<div class="section-container">
  		<%= render "/deals/deal_widget"%>
	</div> <!-- end of .section-container -->
	
	<div class="section-container">
		<div class="title-bar">
			<h5>Helpful Links</h5>
		</div>
		<div class="content-box">
			<div class="vertical-line">
				<%= link_to 'Account Management', edit_user_registration_path %>
				</br>
				<%= link_to 'Payment Management', '/payment_management' %>
				</br>
				<%= link_to 'My Passes', '/mypasses' %>
				</br>
				<%= link_to 'My Reservations', '/myreservations'%>
				</br>
				<%= link_to 'My Tickets', '/mytickets'%>
				</br>
				<%= link_to 'My Deals', '/mydeals'%>
	    	</div> <!-- end of .vertical-line -->
		</div>
	</div>
<% end %>

</div> <!-- end of .span8 -->

<div class="span4 fb-box">
  <%= render "/pages/fbactivity" %>
</div>

</div> <!-- end of .row -->