<h1>Listing tickets</h1>

<table>
  <tr>
    <th>Ticket set</th>
    <th>Purchase</th>
    <th>Name</th>
    <th>Redeemed</th>
    <th>Entries</th>
    <th>Price</th>
    <th>Confirmation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.ticket_set_id %></td>
    <td><%= ticket.purchase_id %></td>
    <td><%= ticket.name %></td>
    <td><%= ticket.redeemed %></td>
    <td><%= ticket.entries %></td>
    <td><%= ticket.price %></td>
    <td><%= ticket.confirmation %></td>
    <td><%= link_to 'Show', ticket %></td>
    <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
    <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ticket', new_ticket_path %>
