<% content_for :title, "Listd - Purchase Confirmation" %>

	<h3>Thank you for making a purchase</h3>
	<p>You will receive a confirmation email with a copy of your pass and instruction on how to use it.</p>
	<div class="pass-preview">
		<small>
  			<h5 class="title title-confirmation">Purchase Summary on <%= @ticket.created_at.strftime("%m/%d/%Y") %></h5>
			<div class="pull-left dt">
	  			Bar Name: <br>
	  			Date of Ticket: <br>
	  			Name on Purchase: <br>
	  			Confirmation Number: <br>
	  			<hr class="ns-rule">
	  			Total Tickets: <br>
	  			Subtotal: <br>
	  			<% if @ticket.purchase.stripe_charge_token != nil %>
					<%= @card_type %> Card (Last 4):
	  			<% end %>
			</div>
			<div class="pull-left dd">
	  			<%= @ticket.ticket_set.location.name %> <br>
	  			<%= @ticket.ticket_set.fecha.date.strftime("%m/%d/%Y") %> <br>
	  			<%= @ticket.name %> <br>
	  			<%= @ticket.confirmation %> <br>
	  			<hr class="ns-rule">
	  			<%= @ticket.entries%> <br>
	  			<%= number_to_currency(@ticket.total_price) %> <br>
	  			<% if @ticket.purchase.stripe_charge_token != nil %>
					<%= @card_four %>
	  			<% end %>
			</div>
			<br>
			<div class="pull-right dd">
	  			<%= link_to raw("View Ticket &nbsp&nbsp<i class=\"icon-circle-arrow-right\"></i>"), ticket_path(@ticket, :format => "pdf"), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("Download <i class=\"icon-download\"></i>"), pdfversion_path(:id => @ticket.id), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("All Tickets <i class=\"icon-circle-arrow-right\"></i>"), '/mytickets', :class => "btn title links-confirmation" %>
			</div>
		</small>
	</div> <!-- end of .pass-preview -->
<hr>
<div class="help-confirmation">
  <p><small>If you experience any trouble viewing the pass or do not receive a confirmation email, please contact us at <%= mail_to("contactus@listdnow.com")%>.</small></p>
</div> 
