<h1>Payment Management</h1></br>
</br>
<h3>View and Update your account payment information on this page.
</br>
</br>
<% if current_user.stripe_customer_token != nil %>
	<h4>Card Information:</h4>
	<% if @customer_card.active_card != nil %>
		<p>Last 4 digits of Stored Credit Card: <%= @last_four %></p>
		<p>Card expires in: <%= @end_month_name %> <%= @end_year %></p>
	<% else %>
		<p>No Card on File</p>
	<% end %>
	<hr>
	<h4>To update or change your credit/debit card information for future purchases, submit the following form.</h4>
	<%= render "credit_form" %>
	<hr>
	<h4>To delete your credit/debit card, press the "Delete Card" button.</h4>
	<%= button_to "Delete Card", "/current_user/delete_stripe_token", :class => "btn btn-danger"%>
<% else %>
	<h4>To add a credit/debit card for future purchases, submit the following form.</h4>
	<%= render "credit_form" %>
<% end %>
