<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :reservation_set_id %>
    <%= f.input :purchase_id %>
    <%= f.input :name %>
    <%= f.input :redeemed %>
    <%= f.input :entries %>
    <%= f.input :price %>
    <%= f.input :confirmation %>
    <%= f.input :reservation_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
