<% content_for :title, "Listd - Purchase Confirmation" %>

	<h3>Thank you for making a purchase</h3>
	<p>You will receive a confirmation email with a copy of your reservation and instruction on how to use it.</p>
	<div class="pass-preview">
		<small>
  			<h5 class="title title-confirmation">Purchase Summary on <%= @reservation.created_at.strftime("%m/%d/%Y") %></h5>
			<div class="pull-left dt">
	  			<% if @reservation.reservation_set.location != nil %>
	  				Location Name: <br>
				<% elsif @reservation.reservation_set.event != nil %>
					Event Name: <br>
				<% end %>
	  			Date of Reservation: <br>
	  			Name on Purchase: <br>
	  			Confirmation Number: <br>
	  			<hr class="ns-rule">
	  			# of Guests: <br>
	  			Subtotal: <br>
	  			<% if @reservation.purchase.stripe_charge_token != nil %>
					<%= @card_type %> Card (Last 4):
	  			<% end %>
			</div>
			<div class="pull-left dd">
				<% if @reservation.reservation_set.location != nil %>
	  				<%= @reservation.reservation_set.location.name %> <br>
				<% elsif @reservation.reservation_set.event != nil %>
					<%= @reservation.reservation_set.event.name %> <br>
				<% end %>
	  			<%= @reservation.reservation_set.fecha.date.strftime("%m/%d/%Y") %> <br>
	  			<%= @reservation.name %> <br>
	  			<%= @reservation.confirmation %> <br>
	  			<hr class="ns-rule">
	  			<%= @reservation.entries%> <br>
	  			<%= number_to_currency(@reservation.total_price) %> <br>
	  			<% if @reservation.purchase.stripe_charge_token != nil %>
					<%= @card_four %>
	  			<% end %>
			</div>
			<br>
			<div class="pull-right dd">
	  			<%= link_to raw("View Reservation &nbsp&nbsp<i class=\"icon-circle-arrow-right\"></i>"), reservation_path(@reservation, :format => "pdf"), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("Download <i class=\"icon-download\"></i>"), pdfreservationversion_path(:id => @reservation.id), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("All Reservations <i class=\"icon-circle-arrow-right\"></i>"), '/myreservations', :class => "btn title links-confirmation" %>
			</div>
		</small>
	</div> <!-- end of .pass-preview -->
<hr>
<div class="help-confirmation">
  <p><small>If you experience any trouble viewing the pass or do not receive a confirmation email, please contact us at <%= mail_to("contactus@listdnow.com")%>.</small></p>
</div>