<% content_for :title, "Listd - My Deals" %>
	<h2>My Deals</h2>

	<div class="row footer-cushion">
 		<div class="span7">
			<h4 class="index-type">Current</h4>
			<% for deal in @valid_deals %>
				<div class="pass-preview">
					<small>
     					<p class="title"><%= deal.deal_set.location.name %></p>
						<div class="pull-left dt">
		  						Date of Deal: <br>
		  						# of Deals: <br>
		  						Name on Purchase: <br> 
		  						Confirmation Number:
						</div>
						<div class="pull-left dd">
		  					<%= deal.deal_set.fecha.date.strftime("%m/%d/%Y") %> <br>
		  					<%= deal.entries%> <br>
		  					<%= deal.name %> <br>
		  					<%= deal.confirmation %>
						</div>
						<div class="pull-right dd">
		  					<%= link_to raw("View Pass &nbsp&nbsp<i class=\"icon-circle-arrow-right\"></i>"), deal_path(deal, :format => "pdf"), :class => "btn title links-confirmation" %> <br>
				  			<%= link_to raw("Download <i class=\"icon-download\"></i>"), pdfdealversion_path(:id => deal.id), :class => "btn title links-confirmation" %>
						</div>
					</small>
				</div> <!-- end of .pass-preview -->
			<% end %>
			<%= will_paginate @valid_deals, :previous_label => "Previous", :next_label => "Next", :param_name => 'valid_deals_page' %>
 		</div>

 		<div class="span4 vertical-rule">
			<h4 class="index-type">Past</h4>
			<% for pass in @past_deals %>
				<div class="pass-history-preview">
   				<small>
	      				<p class="title"><%= deal.deal_set.location.name %></p>
						<div class="pull-left dt">
			  				Date of Deal: <br>
			  				# of Deals: <br>
			  				Name on Purchase: <br>
			  				Confirmation Number: <br>
			  				Redeemed:
						</div>
						<div class="pull-left dd">
			  				<%= deal.deal_set.fecha.date.strftime("%m/%d/%Y") %> <br>
			  				<%= deal.entries%> <br>
			  				<%= deal.name %> <br>
			  				<%= deal.confirmation %> <br>
			  				<%= deal.redeemed %>
						</div>
					</small>
				</div> <!-- end of .pass-preview -->
			<% end %>
			<%= will_paginate @past_deals, :previous_label => "Previous", :next_label => "Next", :param_name => 'past_deals_page' %>
 		</div>
	</div>