<% content_for :title, "Listd - Purchase Confirmation" %>

	<h3>Thank you for making a purchase</h3>
	<p>You will receive a confirmation email with a copy of your pass and instruction on how to use it.</p>
	<div class="pass-preview">
		<small>
  			<h5 class="title title-confirmation">Purchase Summary on <%= @deal.created_at.strftime("%m/%d/%Y") %></h5>
			<div class="pull-left dt">
				<% if @deal.deal_set.location != nil %>
	  				Location Name: <br>
				<% elsif @deal.deal_set.event != nil %>
					Event Name: <br>
				<% end %>
	  			Date of Deal: <br>
	  			Name on Purchase: <br>
	  			Confirmation Number: <br>
	  			<hr class="ns-rule">
	  			Total Deals: <br>
	  			Subtotal: <br>
	  			<% if @deal.purchase.stripe_charge_token != nil %>
					<%= @card_type %> Card (Last 4):
	  			<% end %>
			</div>
			<div class="pull-left dd">
				<% if @deal.deal_set.location %>
	  				<%= @deal.deal_set.location.name %> <br>
				<% elsif @deal.deal_set.event %>
					<%= @deal.deal_set.event.name %> <br>
				<% end %>
	  			<%= @deal.deal_set.fecha.date.strftime("%m/%d/%Y") %> <br>
	  			<%= @deal.name %> <br>
	  			<%= @deal.confirmation %> <br>
	  			<hr class="ns-rule">
	  			<%= @deal.entries%> <br>
	  			<%= number_to_currency(@deal.total_price) %> <br>
	  			<% if @deal.purchase.stripe_charge_token != nil %>
					<%= @card_four %>
	  			<% end %>
			</div>
			<br>
			<div class="pull-right dd">
	  			<%= link_to raw("View Deal &nbsp&nbsp<i class=\"icon-circle-arrow-right\"></i>"), deal_path(@deal, :format => "pdf"), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("Download <i class=\"icon-download\"></i>"), pdfdealversion_path(:id => @deal.id), :class => "btn title links-confirmation" %> <br>
	  			<%= link_to raw("All Deals <i class=\"icon-circle-arrow-right\"></i>"), '/mydeals', :class => "btn title links-confirmation" %>
			</div>
		</small>
	</div> <!-- end of .pass-preview -->
<hr>
<div class="help-confirmation">
  <p><small>If you experience any trouble viewing the pass or do not receive a confirmation email, please contact us at <%= mail_to("contactus@listdnow.com")%>.</small></p>
</div>