<h1>Listing weekly_passes</h1>

<table>
  <tr>
    <th>Week pass</th>
    <th>Purchase</th>
    <th>Name</th>
    <th>Redeemed</th>
    <th>Entries</th>
    <th>Confirmation</th>
    <th>Price</th>
    <th>Total price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weekly_passes.each do |weekly_pass| %>
  <tr>
    <td><%= weekly_pass.week_pass_id %></td>
    <td><%= weekly_pass.purchase_id %></td>
    <td><%= weekly_pass.name %></td>
    <td><%= weekly_pass.redeemed %></td>
    <td><%= weekly_pass.entries %></td>
    <td><%= weekly_pass.confirmation %></td>
    <td><%= weekly_pass.price %></td>
    <td><%= weekly_pass.total_price %></td>
    <td><%= link_to 'Show', weekly_pass %></td>
    <td><%= link_to 'Edit', edit_weekly_pass_path(weekly_pass) %></td>
    <td><%= link_to 'Destroy', weekly_pass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Weekly pass', new_weekly_pass_path %>
