<%= form_for([@location.user,@location]) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :os,@user.id %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
  	<%= f.label :street_address %><br />
  	<%= f.text_field :street_address %>
  </div>
  <div class="field">
 	<%= f.label :city %><br />
  	<%= f.text_field :city %>
  </div>
  <div class="field">
  	<%= f.label :state %><br />
  	<%= f.select :state, options_for_select(us_states, :selected => @location.state) %>
  </div>
  <div class="field">
  	<%= f.label :zip_code %><br />
  	<%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :intro_paragraph %><br />
    <%= f.text_area :intro_paragraph %>
  </div>
  <div class="field">
    <%= f.label :logo %><br />
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label :website_url %><br />
    <%= f.text_field :website_url %>
  </div>
  <div class="field">
    <%= f.label :facebook_url %><br />
    <%= f.text_field :facebook_url %>
  </div>
  <div class="field">
    <%= f.label :twitter_url %><br />
    <%= f.text_field :twitter_url %>
  </div>
  	<%= f.fields_for :location_hours do |builder| %>
		<div>
    		<%= builder.label :day_of_week_open %><br />
    		<%= builder.select :day_of_week_open, Date::DAYNAMES %>
  		</div>
		<div>
    		<%= builder.label :opening_time %><br />
    		<%= builder.time_select :opening_time %>
  		</div>
		<div>
    		<%= builder.label :day_of_week_close %><br />
    		<%= builder.select :day_of_week_close, Date::DAYNAMES %>
  		</div>
		<div>
    		<%= builder.label :closing_time %><br />
    		<%= builder.time_select :closing_time %>
  		</div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>