<% if(@locations.nil? ) %>
	<h5> There are no locations with the searched name </h5>
<% else %>
	<% @locations.each do |location| %>
		<div>
  			<div class="bar-preview shadow">
    			<h5> <%= link_to location.name, location %> </h5>
    			<address>
	  				<small> <%= location.full_address %> <br>
        			<abbr title="Phone">P:</abbr> <%= number_to_phone(location.phone_number, :area_code => true) %>
					</br>
					<% if location.website_url != ""%>
						<%= link_to location.website_url, "http://#{location.website_url}"%>
						</br>
					<% end %>
					<% if location.facebook_url != "" %>
						<%= link_to image_tag("fb_icon(bar).png"), location.facebook_url %>
					<% end %>
					<% if location.twitter_url != "" %>
						<%= link_to image_tag("twitter_icon(bar).png"), location.twitter_url %>
						<% end %>
	  				</small>
				</address>
				<small></small>
  			</div> <!-- end of .bar-preview -->
		</div>
	<% end %>
<%end%>