<div class="field">
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :price %><br />
	<%= f.text_field :price %>
</div>
<div>
	<%= f.label :available_start %><br />
	<%= f.date_select :available_start %>
</div>
<div>
	<%= f.label :available_end %><br />
	<%= f.date_select :available_end %>
</div>