<% content_for :head do %>
	<script type="text/javascript">
		function add_fields(link, association, content) {  
		    var new_id = new Date().getTime();  
		    var regexp = new RegExp("new_" + association, "g");  
		    $(link).before(content.replace(regexp, new_id));  
		};
	</script>
<% end %>

<h1>New Deal Set</h1>
<% if params[:location_id] != nil %>
	<%= form_for([@location.user,@location,@deal_set]) do |f| %>
   
 		<% if @deal_set.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@deal_set.errors.count, "error") %> prohibited this deal set from being saved:</h2>
      			<ul>
      				<% @deal_set.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

		<%= f.fields_for :fecha do |builder| %>
			<div class="field">
				<%= builder.label :date %><br />
	    		<%= builder.date_select :date %>
			</div>
		<% end %>

  			<div class="field">
    			<%= f.label :total_released_deals %><br />
    			<%= f.number_field :total_released_deals %>
  			</div>

			<%= f.fields_for :price_points do |builder| %>
				<div class="field">
					<%= render 'price_point_fields', :f => builder %>
				</div>
			<% end %>
			<%= link_to_add_fields "Add Different Price Point", f, :price_points %>

  			<div class="actions">
    			<%= f.submit %>
  			</div>
	<% end %>
	<%= link_to 'Back', user_location_path(@location.user,@location) %>
<% elsif params[:event_id] != nil %>
	<%= form_for([@event.user,@event,@deal_set]) do |f| %>
   
 		<% if @deal_set.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@deal_set.errors.count, "error") %> prohibited this deal set from being saved:</h2>
      			<ul>
      				<% @deal_set.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

		<%= f.fields_for :fecha do |builder| %>
			<div class="field">
				<%= builder.label :date %><br />
	    		<%= builder.date_select :date %>
			</div>
		<% end %>

  			<div class="field">
    			<%= f.label :total_released_deals %><br />
    			<%= f.number_field :total_released_deals %>
  			</div>

			<%= f.fields_for :price_points do |builder| %>
				<div class="field">
					<%= render 'price_point_fields', :f => builder %>
				</div>
			<% end %>
			<%= link_to_add_fields "Add Different Price Point", f, :price_points %>

  			<div class="actions">
    			<%= f.submit %>
  			</div>
	<% end %>
	<%= link_to 'Back', user_location_path(@event.user,@event) %>
<% end %>
