<p>
  <b>Date:</b>
  <%= ticket_set.date %>
</p>
 
<p>
  <b>Total Passes</b>
  <%= ticket_set.total_released_tickets %>
</p>
<p>
  <b>Sold Passes</b>
  <%= ticket_set.sold_tickets %>
</p>
<p>
  <b>Unsold Passes</b>
  <%= ticket_set.unsold_tickets %>
</p>
<p>
  <b>Price</b>
  <%= ticket_set.price%>
</p>
<p>
  <b>Type</b>
  <%= ticket_set.selling_price %>
</p>