<h1>Editing Ticket Set</h1>

<%= render 'form' %>

<% if params[:location_id] != nil %>
	<%= link_to 'Show', [@location.user, @location, @ticket_set] %> |
	<%= link_to 'Back', [@location.user, @location] %>
<% elsif params[:event_id] != nil %>
	<%= link_to 'Show', [@event.user, @event, @ticket_set] %> |
	<%= link_to 'Back', [@event.user, @event] %>
<% end %>
