<h1>New Ticket Set</h1>
<% if params[:location_id] != nil %>
	<%= form_for([@location.user,@location,@ticket_set]) do |f| %>
 		<% if @ticket_set.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@ticket_set.errors.count, "error") %> prohibited this pass set from being saved:</h2>
      			<ul>
      				<% @ticket_set.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

		<%= f.fields_for :fecha do |builder| %>
			<div class="field">
				<%= builder.label :date %><br />
	    		<%= builder.date_select :date %>
			</div>
		<% end %>

  		<div class="field">
    		<%= f.label :total_released_tickets %><br />
    		<%= f.number_field :total_released_tickets %>
  		</div>

		<%= f.fields_for :price_point do |builder| %>
			<div class="field">
				<%= builder.label :price %><br />
	    		<%= builder.text_field :price %>
			</div>
		<% end %>

  		<div class="actions">
    		<%= f.submit %>
  		</div>
	<% end %>
	<%= link_to 'Back', user_location_path(@location.user,@location) %>
<% elsif params[:event_id] != nil %>
	<%= form_for([@event.user,@event,@ticket_set]) do |f| %>
 		<% if @ticket_set.errors.any? %>
    		<div id="error_explanation">
      			<h2><%= pluralize(@ticket_set.errors.count, "error") %> prohibited this pass set from being saved:</h2>
      			<ul>
      				<% @ticket_set.errors.full_messages.each do |msg| %>
        				<li><%= msg %></li>
      				<% end %>
      			</ul>
    		</div>
  		<% end %>

		<%= f.fields_for :fecha do |builder| %>
			<div class="field">
				<%= builder.label :date %><br />
	    		<%= builder.date_select :date %>
			</div>
		<% end %>

  		<div class="field">
    		<%= f.label :total_released_tickets %><br />
    		<%= f.number_field :total_released_tickets %>
  		</div>

		<%= f.fields_for :price_point do |builder| %>
			<div class="field">
				<%= builder.label :price %><br />
	    		<%= builder.text_field :price %>
			</div>
		<% end %>

  		<div class="actions">
    		<%= f.submit %>
  		</div>
	<% end %>
	<%= link_to 'Back', user_location_path(@event.user,@event) %>
<% end %>
